<div class="container">
   <center>
    <div class="page-header">
      <h1>All users</h1>
    </div>
    <div class="row">
      <% @users.each do |user| %>
      <div class="col-md-4">
        <h5><%= link_to "#{user.firstname + " " + user.lastname}", user_path(user) %></h5>
        <p><%= user.is_admin? ? "Administrator" : "Customer" %></p>
        <p><%= user.email %></p>
        <% if user.is_admin? %>
          <%= form_for :user, :url => { :action => 'make_customer', params: {id: user.id} } do |f| %>
          <% if user == current_user %>
          <p><%= f.submit "Make Customer", class: "btn btn-xs btn-inverse", disabled: true, data: { confirm: 'Are you sure you want to make this user a customer?' } %></p>
          <% else %>
          <p><%= f.submit "Make Customer", class: "btn btn-xs btn-primary", data: { confirm: 'Are you sure you want to make this user a customer?' } %></p>
          <% end %>
          <% end %>
        <% else %>
          <%= form_for :user, :url => { :action => 'make_admin', params: {id: user.id} } do |f| %>
          <p><%= f.submit "Make Administrator", class: "btn btn-xs btn-danger", data: { confirm: 'Are you sure you want to make this user an administrator?' } %><% end %></p>
        <% end %>
        <hr>
      </div>
      <% end %>
      <hr>
    </div>
  </center>
</div>
