<% if @user.items.empty? %>
<div class="well"><%= "Shopping cart is empty." %></div>
<% else %>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Item</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <% total = 0 %>
  <% @user.items.each_with_index do |item, index| %>
  <% total += item.price %>
  <tr>
    <td><%= index + 1 %></td>
    <td><%= item.name %></td>
    <td><%= item.formatted_price %></td>
    <td><%= form_for :item, url: '/cart', method: :delete, html: {:class => 'form-horizontal pull-right'}  do |f| %>
          <%= hidden_field_tag 'item_id', item.id %>
          <button id="remove-from-cart" name="remove-from-cart" class="btn btn-xs btn-primary btn-danger"><span class="glyphicon glyphicon-remove"></span> Remove</button>
          <% end %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td><strong>Total:</strong><p class="pull-right"><%= total %></p></td>
  </tr>
</table>
<% end %>
