<!DOCTYPE html>
<html>
<head>
  <title>Shoppe</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag '/javascript/default' %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag "/css/default" %>
  <%= csrf_meta_tags %>
</head>
<%= render 'layouts/nav' %>
<body>
  <% if flash[:notice] %>
    <center>
      <div class="alert alert-info" data-dismiss="alert" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </center>
  <% end %>
  <% if flash[:error] %>
    <center>
      <div class="alert alert-danger" data-dismiss="alert" role="alert">
        <%= flash[:error] %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    </center>
  <% end %>
  <% if flash[:success] %>
    <center>
      <div class="alert alert-success" data-dismiss="alert" role="alert">
        <%= flash[:success] %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    </center>
  <% end %>
<%= yield %>
<!-- login modal -->
<div class="modal fade" id="login-form" tabindex="-1" role="dialog" aria-labelledby="login-form">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <center><h4 class="modal-title">Login</h4></center>
      </div>
      <div class="modal-body">
        <%= render 'sessions/form' %>
      </div>
    </div>
  </div>
</div>
<!-- cart modal -->
<div class="modal fade" id="shopping-cart" tabindex="-1" role="dialog" aria-labelledby="shopping-cart">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
</body>
</html>
